.navBar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.subHeading{
  opacity: 0.6;
  font-size: 13px;
}
.main{
  display: flex;
  width: 100%;
  height: 80vh;
  gap: 16px;
}
.createEventSection, .displayEventSection{
  width: 50%;
  height: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.133);
  border-radius: 10px;
  padding: 20px;
}
